Repository skku-amang/main, pull requests merged in 2025-08, with the labels that each got.

#184 refactor(fe): improve data fetching architecture with custom hooks
  .github/PULL_REQUEST_TEMPLATE.md
  apps/web/hooks/api/useGeneration.ts
  apps/web/hooks/api/usePerformance.ts
  apps/web/hooks/api/useSession.ts
  apps/web/hooks/api/useUser.ts
  packages/api-client/package.json
  packages/api-client/src/api-result.ts
  packages/api-client/src/errors.ts
  packages/api-client/src/index.ts
  packages/database/package.json
  packages/database/src/client.ts
  packages/database/src/index.ts
  packages/eslint-config/package.json
  packages/shared-types/package.json
  packages/shared-types/src/Generation.ts
  packages/shared-types/src/Notice.ts
  packages/shared-types/src/Performance.ts
  packages/shared-types/src/Session.ts
  packages/shared-types/src/Team.ts
  packages/shared-types/src/User.ts
  packages/shared-types/src/auth/jwt.types.ts
  packages/shared-types/src/constants/regex.ts
  packages/shared-types/src/generation/create-generation.schema.ts
  packages/shared-types/src/generation/update-generation.schema.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/models.type.ts
  packages/shared-types/src/session/create-session.schema.ts
  packages/shared-types/src/session/update-session.schema.ts
  packages/shared-types/src/user/create-user.schema.ts
  packages/shared-types/src/user/login-user.schema.ts
  packages/typescript-config/package.json
  pnpm-lock.yaml
Labels: ✨ 기능, 📬 API, 🔨 리팩토링, 📃 Docs, Frontend, Backend, Infra - CI

#187 refactor(fe, be): upgrade all data fetching logics
  apps/web/app/(general)/(dark)/performances/[id]/teams/[teamId]/_components/DeleteEditButton.tsx
  apps/web/app/(general)/(dark)/performances/[id]/teams/[teamId]/_components/MemberSessionCard.tsx
  apps/web/app/(general)/(dark)/performances/[id]/teams/[teamId]/_hooks/useTeamApplication.ts
  apps/web/app/(general)/(dark)/performances/[id]/teams/[teamId]/page.tsx
  apps/web/components/TeamDeleteButton.tsx
  apps/web/hooks/api/usePerformance.ts
  apps/web/hooks/api/useTeam.ts
  packages/api-client/src/index.ts
  packages/shared-types/package.json
  packages/shared-types/src/generation/create-generation.schema.ts
  packages/shared-types/src/generation/update-generation.schema.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/performance.schema.ts
  packages/shared-types/src/session/create-session.schema.ts
  packages/shared-types/src/session/update-session.schema.ts
  packages/shared-types/src/team.schema.ts
  packages/shared-types/src/user/create-user.schema.ts
  packages/shared-types/src/user/login-user.schema.ts
  packages/shared-types/src/user/update-user.schema.ts
  pnpm-lock.yaml
Labels: 📬 API, Frontend, Backend

#190 refactor(fe, be): convert http exception into custom error form
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/guards/admin.guard.ts
  apps/api/src/common/filters/all-error.filter.ts
  apps/api/src/common/filters/api-error.filter.ts
  apps/api/src/common/interceptors/api-result.interceptor.ts
  apps/api/src/generation/generation.service.ts
  apps/api/src/main.ts
  apps/api/src/session/session.service.ts
  apps/api/src/users/users.service.ts
  packages/api-client/src/api-result.ts
  packages/api-client/src/errors.ts
  packages/api-client/src/index.ts
Labels: 🔨 리팩토링, Backend, Frontend - Component

#193 refactor(shared-types, api): Enhance DTO definition and management
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/generation/dto/create-generation.dto.ts
  apps/api/src/generation/dto/update-generation.dto.ts
  apps/api/src/generation/generation.controller.ts
  apps/api/src/generation/generation.service.ts
  apps/api/src/session/dto/create-session.dto.ts
  apps/api/src/session/dto/update-session.dto.ts
  apps/api/src/session/session.controller.ts
  apps/api/src/session/session.service.ts
  apps/api/src/users/dto/create-user.dto.ts
  apps/api/src/users/dto/login-user.dto.ts
  apps/api/src/users/users.service.ts
  apps/web/package.json
  package.json
  packages/shared-types/package.json
  pnpm-lock.yaml
Labels: 🐞 버그, 🔨 리팩토링, Backend
